:root {
  --color-lightest: #d5dbf5;
  --color-light: #cdc2e7;
  --color-medium: #a830c4;
  --color-dark: #292E1E;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  background-color: white;
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  align-items: start;
}

.button {
  background-color: var(--color-light);
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-medium);
  color: white;
}

.form-add-friend {
  font-size: 1.6rem;
  background-color: var(--color-lightest);
  border-radius: 7px;
  /* margin-bottom: 1.6rem; */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


label {
  font-weight: 500;
  margin-bottom: 1rem;
}


input,
select {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
  margin-bottom: 2rem;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-medium);
}

form .button {
  margin-top: 2rem;
  max-width: 100px;
  align-self: end;

}

.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
}

.heading-main {
  text-transform: uppercase;
  /* color: var(--color-medium); */
}



.goal-chain {
  grid-column-start: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-end: -1;
  margin-bottom: 2rem;
  font-size: 2rem;

}

.goals {
  padding: 10px;
  background-color: var(--color-light);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.goal {
  position: relative;
  padding: 1rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-lightest);
  /* min-height: 15rem; */
  min-height: 16.2rem;
  min-width: 30rem;
  /* background-color: rgba(128, 128, 128, 0.514); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h5 {
  max-width: 25rem;
}

.good-prediction {
  background-color: rgb(179, 226, 179);
}

.bad-prediction {
  background-color: rgb(236, 172, 172);
}

.current-goal {
  box-shadow: rgba(51, 21, 121, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.current-goal h5:first-letter {
  text-transform: capitalize
}

.icon,
.icon-danger,
.icon-edit {
  min-width: 2rem;
  font-size: 2rem;
}

.icon {
  color: darkgreen;
}

.icon-edit {
  color: green;
}

.icon-danger {
  color: red;
}


.icons-div {
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  max-height: 90%;
}

.edit-input {
  height: 3rem;
  width: 90%;
  margin: 0px;
  /* padding: 1rem; */
}

.grey-out {
  background-color: #343a40;
}

.grey-out h5:first-letter {
  text-transform: capitalize
}

.grey-out.good-prediction {
  /* background-color: rgb(179, 226, 179); */
  color: rgb(61, 80, 61);
  text-decoration: line-through;
}

.grey-out.bad-prediction {
  /* background-color: rgb(236, 172, 172); */
  color: rgb(90, 56, 56);
  text-decoration: line-through;
}

input.picker[type="date"] {
  position: relative;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}